<% provide(:title, "Contact") %>  <!-- Sets the title of the page to "Contact" for this specific view -->
<h1>Contact</h1>  <!-- Displays the main heading of the page as "Contact" -->
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>  <!-- Provides a link to the contact page of the Ruby on Rails tutorial -->
</p>
