@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #000000;

/* universal */

body {
  padding-top: 90px;
  background-color: #e0e0e0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

 /* logo position */
.positioned-up {
  position: relative;
  top: -266px;
  left: 100px;
}



/* Style your button*/

.btn-primary {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000000; 
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #000000; 
  border-radius: 8px; 
  background-color: transparent; 
  cursor: pointer;
  transition: all 0.3s ease; 
  overflow: hidden;
}

.btn-primary:hover {
  color: #ffffff; 
  background-color: #000000; 
}


.btn-primary::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0); 
  transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth emergence */
  opacity: 0;
  z-index: 0;
}

.btn-primary:hover::before {
  transform: translate(-50%, -50%) scale(1); /* Wave increase */
  opacity: 1; /* The wave becomes visible */
}

.btn-primary:active {
  transform: translateY(3px); /* Animation when pressed */
}



/* About button */
.about-link {
  position: relative;
  display: inline-block;
  padding: 2px 8px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000000; 
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #000000; 
  border-radius: 8px; 
  background-color: transparent; 
  cursor: pointer;
  transition: all 0.3s ease; 
  overflow: hidden;
}

.about-link:hover {
  color: #ffffff; 
  background-color: #000000; 
}

.about-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0); 
  transition: transform 0.5s ease, opacity 0.5s ease; 
  opacity: 0;
  z-index: 0;
}

.about-link:hover::before {
  transform: translate(-50%, -50%) scale(1); 
  opacity: 1;
}

.about-link:active {
  transform: translateY(3px); 
}


/* Contact button */
.contact-link {
  position: relative;
  display: inline-block;
  padding: 2px 8px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000000; 
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #000000; 
  border-radius: 8px; 
  background-color: transparent; 
  cursor: pointer;
  transition: all 0.3s ease; 
  overflow: hidden;
}

.contact-link:hover {
  color: #ffffff; 
  background-color: #000000; 
}

.contact-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0); 
  transition: transform 0.5s ease, opacity 0.5s ease; 
  opacity: 0;
  z-index: 0;
}

.contact-link:hover::before {
  transform: translate(-50%, -50%) scale(1); 
  opacity: 1;
}

.contact-link:active {
  transform: translateY(3px); 
}


/* News button */
.news-link {
  position: relative;
  display: inline-block;
  padding: 2px 8px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000000; 
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #000000; 
  border-radius: 8px; 
  background-color: transparent; 
  cursor: pointer;
  transition: all 0.3s ease; 
  overflow: hidden;
}

.news-link:hover {
  color: #ffffff; 
  background-color: #000000; 
}

.news-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0); 
  transition: transform 0.5s ease, opacity 0.5s ease; 
  opacity: 0;
  z-index: 0;
}

.news-link:hover::before {
  transform: translate(-50%, -50%) scale(1); 
  opacity: 1;
}

.news-link:active {
  transform: translateY(3px); 
}